/* a { text-decoration: none; color:blue; } */
/* a:visited { text-decoration: none; } */
a {
    text-decoration: none;
    color: blue;
  }
a:active {
    color: purple;
  }
body {
    background-color: tan;
}