{% extends 'base.html' %}
{% block content %}
<h1>Edit a User</h1>

<form>
  <div>
    <label for="first_name" class="">First Name</label>
    <input type="text" id="first_name" name="first_name" value="{{user.first_name}}">
  </div>
  <div>
    <label for="last_name" class="">Last Name</label>
  <input type="text" id="last_name" name="last_name" value="{{user.last_name}}">
  </div>
  <div>
  <label for="image_url" class="">Image URL</label>
  <input type="text" id="image_url" name="image_url" placeholder="image url" value="{{user.image_url}}">
  </div>
  <button type="submit" class="cancel-button" formaction="/users/{{user.id}}">Cancel</button>
  <button type="submit" class="save-button" formmethod="POST">Save</button>
</form>
{% endblock %}